aiohttp==3.11.12
async-timeout==3.0.1
chardet==3.0.4
discord.py
multidict==4.7.6
websockets==9.1
configparser==3.8.1
beautifulsoup4==4.13.3
pytz==2018.9
argparse==1.4.0
aiopg
aiodns==2.0.0
aiosqlite==0.21.0
cairosvg
opencv-contrib-python-headless
snscrape
psycopg[binary]>=3.1.0
psycopg_pool